<div style="background-color: #e2e2e2; padding:10px; width:210px">
  <div style="padding:10px">
  	<%= render_widget 'note_form' %>
  </div>
  <div style="padding:10px">
  	<%= render_widget 'my_notes' %>
  </div>
</div>
